{
  "printWidth": 85,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "tailwindFunctions": ["clsx"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(react/(.*)$)|(react$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/features/(.*)$",
    "",
    "^@/constants/(.*)$",
    "",
    "^@/data-access/(.*)$",
    "",
    "^@/hooks/(.*)$",
    "",
    "^@/lib/(.*)$",
    "",
    "^@/utils/(.*)$",
    "",
    "^@/components/(.*)$",
    "",
    "^[.]",
    "",
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]"
  ]
}
